<footer class="site-footer">

  <!-- Footer -->
  <footer class="text-center footer">
      <div class="footer-above">
          <div class="container">
            <div class="footer-col col-md-4">
            </div>
                  <div class="footer-col col-md-4">
                      <ul class="list-inline">
                          <li>
                              <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn-social btn-outline nav-entry" target="_blank" ><i class="fa fa-fw fa-rss"></i></a>
                          </li>
                          <li>
                              <a href="https://www.facebook.com/cru/" class="btn-social btn-outline nav-entry" target="_blank" ><i class="fa fa-fw fa-facebook"></i></a>
                          </li>
                          <li>
                              <a href="https://twitter.com/cru" target="_blank" class="btn-social btn-outline nav-entry"><i class="fa fa-fw fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="" class="btn-social btn-outline nav-entry" target="_blank" ><i class="fa fa-fw fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="mailto:info@cru.co.uk?subject=Question:" class="btn-social btn-outline nav-entry" ><i class="fa fa-fw fa-envelope-o"></i></a>
                          </li>
                      </ul>
                  </div>

          </div>
      </div>

<div class="footer-below">
    <div class="footer-col col-md-4">
    </div>
      <div class="footer-col col-md-4">
        Creative Research United is based in London, UK.
      </div>
    </div>
  </footer>

</footer>
